- if not @skipNewIntrusionLinks
  .small-12
    = link_to 'New Intrusion', new_intrusion_path, class: 'small-link'
- @intrusions.each do |intrusion|
  - @intrusion = intrusion
  .small-12
    %hr
  = render partial: 'intrusion'
- if not @skipNewIntrusionLinks
  .small-12
    %hr
  .small-12
    = link_to 'New Intrusion', new_intrusion_path, class: 'small-link'