= form_tag({controller: 'intrusions', action: 'search'},
    {method: 'get', role: 'form', class: 'form-horizontal'}) do
  .form-group.has-feedback
    %label.sr-only{for: 'searchField'}= 'Search:'
    = text_field_tag :q, params[:q].present? ? params[:q] : nil,
      tabindex: @tabindex ? @tabindex+=1 : @tabindex=1, id: 'searchField',
      placeholder: 'Search...', class: 'form-control'
    %span.glyphicon.glyphicon-search.form-control-feedback
