= form_for @tag, url: {action: @form_action} do |f|
  .small-12
    = f.text_field :name, placeholder: 'Tag name...',
      tabindex: (@tabindex ? @tabindex+=1 : @tabindex=1),
      class: 'tag-text-field'
  .small-12
    = f.submit 'Save', class: 'radius float-right', tabindex: (@tabindex+=1)