// Place all the styles related to the intrusions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Search Form */

#search-div {
  margin-bottom: 1rem;
}

/* Intrusion List */

.intrusion-div {
  background-color: #ffffff;
  border: 2px outset;
  padding: 0.5rem;
}

.intrusion {
  @extend .block-link, .radius;
  background-color: #ffffff;
  border: 1px solid #000000;
  font-size: 110%;
  margin: 0.25rem;
  padding: 1rem;
}

.intrusion:hover {
  color: #0000ff;
}
