// Place all the styles related to the intrusions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Search Form */

#search-div {
  margin-bottom: 1rem;
}

/* Intrusions List */

.intrusion-div {
  background-color: #91becd;
  border: 2px outset;
  padding: 0.5rem;
}

.intrusion {
  @extend .block-link, .radius;
  background-color: #4e97af;
  color: #000000;
  font-size: 110%;
  margin: 0.5rem 0.125rem;
  padding: 1rem;
}

.intrusion:hover {
  background-color: #113f4e;
  color: #4e97af;
}

/* Intrusion Form */

.intrusion-textarea {
  @extend .wide;
  margin-bottom: 0.5rem;
}
