// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Tag List */

.tag {
  @extend .block-link, .radius;
  background-color: #ffffff;
  border: 1px solid #000000;
  margin: 0.125rem;
  padding: 0.25rem;
}

.tag:hover {
  color: #0000ff;
}
