// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tag-color: #000000;
$tag-background-color: #ffffff;
$tag-interaction-background-color: #dddddd;

/* General Classes */

.tag {
  @extend .radius;
  background-color: $tag-background-color;
  color: $tag-color;
  margin: 0.125rem;
  padding: 0.25rem;
}

a.tag {
  @extend .block-link;
}

a.tag:hover {
  background-color: $tag-interaction-background-color;
  @include trans(background-color 0.5s);
}

/* Tag Form */

.tag-text-field {
  @extend .wide;
  margin-bottom: 0.5rem;
}

/* Intrusion Form */

.tag-checkbox-li {
  @extend .float-left;
  margin: 0.25rem 0.5rem;
}

.tag-checkbox-label {
  @extend .tag;
  display: inline-block;
  border: 1px outset;
}

:checked + .tag-checkbox-label {
  background-color: $tag-interaction-background-color;
  border: 1px inset;
}

.tag-checkbox {
  @extend .v-centered;
  display: none;
}
