// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Tag List */

.tag {
  @extend .block-link, .radius;
  background-color: #ffffff;
  color: #000000;
  margin: 0.125rem;
  padding: 0.25rem;
}

.tag:hover {
  background-color: #dddddd;
  @include trans(background-color 0.5s);
}

/* Tag Form */

.tag-text-field {
  @extend .wide;
  margin-bottom: 0.5rem;
}
