/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 */

nav.top-bar {
  margin-bottom: 1em;
}

div.spacer {
  border-top: 1px solid black;
  height: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

textarea {
  resize: vertical;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.small-link {
  font-size: 75%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.small-link-div {
  text-align: right;
}

.no-margin {
  margin: 0 !important;
}

.link-panel {
  color: inherit;
}

.intrusion {
  display: block;
  margin-left: 0;
  margin-bottom: 0.5em;
}

.tag {
  margin: 0.25em 0.25ex;
  padding: 0.5em;
}

.taglist {
  padding-left: inherit;
}