/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'reset';
@import 'grid';

body {
  background-color: #46879d;
}

/* General classes */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.wide {
  width: 100%;
}

.tall {
  height: 100%;
}

.block-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.v-centered:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.radius {
  border-radius: 0.25rem;
}

.prefix {
  @extend .tall, .wide;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}

.postfix {
  @extend .tall, .wide;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.small-link {
  @extend .float-right;
  font-size: 75%;
  margin: 0.25rem;
}

@mixin trans($transition...) {
  -webkit-transition: $transition;
  transition: $transition;
}

/* Header */

$header-height: 3rem;
$header-margin: 2rem;

#header {
  height: $header-height;
  margin-bottom: $header-margin;
}

#top-nav {
  background-color: #303030;
  color: #E8E8E8;
  height: 100%;
  overflow: hidden;
}

.top-nav {
  @extend .float-left;
  height: 100%;
  
  h1 {
    height: 100%;
  }
}

.top-nav-link {
  @extend .tall, .block-link, .v-centered;
  padding: 0 1vw;
}

.top-nav-link:hover {
  background-color: #000000;
}

#top-nav-right {
  float: right;
}

/* Footer */

$footer-height: 3rem;
$footer-margin: 2rem;

html, body {
  height: 100%;
}

#page-wrap {
  min-height: 100%;
  padding-bottom: $footer-height+$footer-margin;
  margin-bottom: -$footer-height;
}

#footer {
  height: $footer-height;
}

#bottom-nav {
  text-align: center;
}

.bottom-nav {
  display: inline-block;
  padding: 0 1vw;
}

#disclaimer-div {
  padding: 0.25rem 0;
  text-align: center;
}

#disclaimer {
  font-size: 25%;
  color: inherit;
}

#disclaimer:hover {
  color: #0000EE;
}

#disclaimer:hover:visited {
  color: #551A8B;
}



@import 'intrusions';
@import 'tags';
